:root {
    box-sizing: border-box;
    --orangeColor: #FC5130;
    --bckgColor: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--bckgColor);
    position: absolute;
    margin: 0 0;
    /* min width y height para cuando el contenido dentro del body cambia dinamicamente. */
    min-width: 100%;
    min-height: 90%;
    /* overflow, elimina los scroleos minimos que se crean */
    overflow-y: hidden;
    overflow-x: hidden;
}

/* CONTAINERS SIZE/POSITION */
/* HEADER */
.header {
    /* border: 2px solid green; */
    position: relative;
    margin: 0 0;
    min-height: 20vh;
    text-align: center;
}

/* NAVIGATION */
.nav {
    /* border: 2px solid yellow; */
    position: relative;
    margin: 0 0;
    height: 15vh;
    text-align: center;
    padding-top: 3%;
}

/* SECTION */
.section {
    /* border: 2px solid black; */
    position: relative;
    margin: 0 0;
    min-height: 65vh;
}

/* COUNTRY DIV */
.country-div {
    /* border: 2px solid orange; */
    position: relative;
    display: block;
    min-height: 10%;
    min-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.country-name{
    /* border: 2px solid black; */
    position: relative;
    /* display: inline-block; */
    /* No puede hacer que sea height 100% ya que no toma el valor de su parent para usar porcentaje. */
    max-height: 6.5vh;
    width: 18%;
    float: left;
    margin-top: 1.1rem;
    text-align: right;
}
.country-bar{
    /* border: 2px solid black; */
    position: relative;
    display: inline-block;
    height: 6.5vh;
    width: 55%;
    margin-left: 1%;
    margin-top: 0.2em;
}
.country-population{
    /* border: 2px solid black; */
    position: relative;
    /* display: inline-block; */
    float: right;
    margin-right: 3%;
    margin-top: 1.1rem;
    max-height: 6.5vh;
    width: 21%;
}


/* STYLING */

#main-title {
    padding-top: 3%;
    font-size: 2.5rem;
    color: var(--orangeColor);
    text-shadow: 1px 1px 2px black;
    line-height: 50%;
}
#nav-parag {
    line-height: 300%;
}
.button {
    background-color: var(--orangeColor);
    border-style: hidden;
    border-radius: 8%;
    height: 50px;
    margin-right: 1%;
    margin-left: 1%;
    color: var(--bckgColor);
    text-decoration: solid;
}



/* RESPONSIVE */

@media (max-width: 850px) {
    #main-title {
            font-size: 2rem;
        }
    #nav-parag {
        line-height: 100%;
    }
    .button {
        margin-right: 7.5%;
        margin-left: 7.5%;
    }
    .header{
        min-height: 15vh;
    }
    .country-name {
        width: 20.5%;
        text-align: left;
    }
    .country-div {
        min-width: 100%;
        margin-left: 0%;
    }
    .country-population {
        float: right;
        margin-right: 0%;
    }
    .country-name,
    .country-population {
        font-size: 0.8rem;
    }
}